
    <section class="home_section">
        <div class="container">
            <div class="row">
                <div class="col-md6">
                <div class="heading">
                    <h1>Online Bus Booking Services</h1>
                    <p> India`s leading online bus ticket booking service provider.</p>
                </div>
            </div>
            <div class="col-md6"></div>
        </div>
    </div>
</section>

<section class="ticket_section mt-5">
    <div class="ticket">
        <div class="container">
            <div class="text-center">
                <h2 class="text-danger">Jaipur Bus Tickets</h2>
            </div>
            <div class="ticket_desc">
                <p>Enjoy the comfort of booking Jaipur bus tickets online. Say goodbye to traditional methods of bus
                    ticket
                    booking and switch on to online mode for booking your Jaipur bus tickets within minutes of time at
                    Abhibus.com.</p>

                <p> Just log on to Abhibus.com, fill in the necessary information to book Jaipur online bus tickets.
                    Search
                    for various Jaipur buses online on AbhiBus, choose a bus of your comfort and book tickets. You can
                    easily book Jaipur bus tickets online with your own choice and comfort. We offer various types of
                    Jaipur
                    buses including Mercedes Benz Ac Multi Axle Semi Sleeper (2 +2), A/C Sleeper, Scania Ac Multi Axle
                    Semi
                    Sleeper (2 + 2), Super Luxury, non AC Sleeper, AC, non AC Seater, non AC Sleeper Seater, AC Sleeper
                    Seater, and Volvo AC to book tickets. AbhiBus provides the facility for the travellers to choose
                    pickup
                    and drop point options on our website to reach the boarding points on time.</p>
            </div>
        </div>
    </div>
    
    <div class="ticket_price mt-5">
        <div class="container">
            <div class="text-center">
                <h2 class="text-danger">Jaipur Bus Ticket Prices</h2>
            </div>
            <div class="ticket_desc">
                <p>AbhiBus provides all the bus fares, timings, pickup and boarding points to Jaipur. The bus details
                    are
                    listed on the website to help passengers for booking Jaipur bus tickets. The Jaipur bus ticket price
                    varies from SRTC operator to private travels operators and depending on the type of bus booked,
                    amenities offered by operators.</p>
                </div>
            </div>
    </div>

    <div class="ticket_bus_timetable mt-5">
        <div class="container">
            <div class="text-center">
                <h2 class="text-danger">Jaipur Bus Timetable</h2>
            </div>
            <div class="ticket_desc">
                <p>You can plan your travel by checking the bus timings provided at Abhibus.com. You can pre-schedule or
                    book the tickets on the same day by selecting the date and bus timings of Jaipur buses. You can also
                    book online train tickets and book hotels in Jaipur at the lowest prices on AbhiBus.</p>
            </div>
        </div>
    </div>
</section>




<section class="container text-center mt-5">
    <h2 class="text-danger">Book Luxury Buses Online at AbhiBus</h2>
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-md-3 col-6">
            <img src="assets/servicecompany1.png" alt="Morning Star" class="img-fluid">
        </div>
        <div class="col-md-3 col-6">
            <img src="assets/servicecompany2.png" alt="Orange Tours & Travels" class="img-fluid">
        </div>
        <div class="col-md-3 col-6">
            <img src="assets/servicecompany3.png" alt="VRL Logistics Limited" class="img-fluid">
        </div>
        <div class="col-md-3 col-6">
            <img src="assets/servicecompany4.png" alt="Kaveri Travels" class="img-fluid">
        </div>
    </div>
</section>
